.animated-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
}

.animated-button:hover {
    transform: scale(1.1);
    background-color: #33607e;
}
