body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    
}



h1 {
    text-align: center;
    color: #333;
}

.FeedbackButton {
    display: flex;
    text-align: center;
    justify-content: center;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#feedbackList {
    margin-top: 20px;
}



